<div class="col-md-8">
    
<h1 class="about">About Us</h1>

    <%= link_to (image_tag "doonsidehigh.jpg", :alt => "image", :title => "doonsidehigh.jpg", :class => "class_photo")%>
    
    <br>
    <br>
    
<div class="about_us">

<h2>Who we are</h2>

<p>We are the DTHS coding queens!</p>

<li>Emily</li>
<li>Madison</li>
<li>Kaliyah</li>
<li>Reece</li>
<li>Kaitlyn</li>
<li>Nyandieng</li>
<li>Jameika</li>
<li>Samaneh</li>
<li>Yadana</li>
<li>Ariana</li>
<li>Chantelle</li>
<li>Rachana</li>
<li>Ellamae</li>

<h2>Why we did this</h2>
<p>We did this because we want to show the world how powerful women are! Especially when they come together as a team to learn new skills and build solutions to real problems.</p>
<p>We started this program on 23rd of February 2017 and have developed a canteen app within a 3 week timeframe, with a total of six days.</p>

<h2>Thanks</h2>
<p>The year 10 girls from DTHS would like to thank everyone involved who made this opportunity come to life.</p>
</div>
</div>